.left-column{
  background-color: rgb(210, 210, 210);
}

.header {
  font-size: 2.5em;
  font-weight: 300;
  margin:10px 0;
  text-align: center;
}

.login-box {
  margin: 0 auto;
  width: 550px;
  height: 750px;
  position: relative;
}

.login-form {
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
}

.login-switch {
  position: absolute;
  margin: 0 auto;
  width:100%;
  bottom: 50px;
}

.list-home {
  max-width: 600px;
}

.category-list {
  max-width: 300px;
}

.strike {
  text-decoration: line-through;
}

.category-sort-display {
  cursor: pointer;
}

/* svg {
  fill: red;
} */