.left-column{
  background-color: rgb(210, 210, 210);
}

.header {
  font-size: 3.5em;
  font-weight: 300;
  color:#FF7E67;
  margin:10px 0;
  text-align: center;
}

.list-home {
  max-width: 600px;
}

.category-list {
  max-width: 300px;
}

.strike {
  text-decoration: line-through;
}

.xxx {
  cursor: pointer;
}